[[source]]
url = "https://pypi.douban.com/simple" 
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask = "*"
flask-migrate = "*"
flask-login = "*"
flask-wtf = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.6"
